<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Studio Sheepdog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container my-3">
    <h1 class="text-center">개도둑 커뮤니티에 오신 것을 환영합니다!</h1>

    <div class="row my-3">
        <div class="col">
            <a href="/boards" class="btn btn-success btn-lg btn-block">게시판으로 이동</a>
        </div>
        <div class="col">
            <a href="/" class="btn btn-success btn-lg btn-block">채팅방으로 이동</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img th:src="@{/img/dog_farming.jpg}" class="img-fluid" alt="Dog Farming">
        </div>
        <div class="col">
            <img th:src="@{/img/dog_quest.jpg}" class="img-fluid" alt="Dog Quest">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
