<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">개도둑</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.equals(#httpServletRequest.getRequestURI(), '/') || #strings.equals(#httpServletRequest.getRequestURI(), '/home') ? 'active' : ''}" href="/">홈</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/announcement') ? 'active' : ''}" href="/announcement">공지사항</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/board') ? 'active' : ''}" href="/board">게시판</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.equals(#httpServletRequest.getRequestURI(), '/chat') ? 'active' : ''}" href="/chat">채팅방</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.equals(#httpServletRequest.getRequestURI(), '/login') ? 'active' : ''}" th:href="${#httpServletRequest.userPrincipal != null ? '/logout' : '/login'}" th:text="${#httpServletRequest.userPrincipal != null ? '로그아웃' : '로그인'}"></a></li>
      </ul>
    </div>
  </div>
</nav>